In [1]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import StandardScaler #for standardize the input data with mean 0 variance 1
from sklearn.model_selection import train_test_split
from sklearn import svm #model algorithm
from sklearn.metrics import accuracy_score

In [2]:
diabetes_df = pd.read_csv('C:\\Users\\Kamalesh C\\Desktop\\DataScience\\diabetes.csv')

In [3]:
diabetes_df.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [4]:
diabetes_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Pregnancies               768 non-null    int64
 1   Glucose                   768 non-null    int64
 2   BloodPressure             768 non-null    int64
 3   SkinThickness             768 non-null    int64
 4   Insulin                   768 non-null    int64
 5   BMI                       768 non-null    float64
 6   DiabetesPedigreeFunction  768 non-null    float64
 7   Age                       768 non-null    int64
 8   Outcome                   768 non-null    int64
dtypes: float64(2), int64(7)
memory usage: 54.1 KB

In [5]:
diabetes_df.shape

(768, 9)

In [6]:
diabetes_df.describe()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,3.845052,120.894531,69.105469,20.536458,79.799479,31.992578,0.471876,33.240885,0.348958
std,3.369578,31.972618,19.355807,15.952218,115.244002,7.884160,0.331329,11.760232,0.476951
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,1.000000,99.000000,62.000000,0.000000,0.000000,27.300000,0.243750,24.000000,0.000000
50%,3.000000,117.000000,72.000000,23.000000,30.500000,32.000000,0.372500,29.000000,0.000000
75%,6.000000,140.250000,80.000000,32.000000,127.250000,36.600000,0.626250,41.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

In [7]:
diabetes_df['Outcome'].value_counts()

0    500
1    268
Name: Outcome, dtype: int64

In [8]:
diabetes_df.groupby('Outcome').mean()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
Outcome,,,,,,,,
0,3.298000,109.980000,68.184000,19.664000,68.792000,30.304200,0.429734,31.190000
1,4.865672,141.257463,70.824627,22.164179,100.335821,35.142537,0.550500,37.067164

In [9]:
X = diabetes_df.drop('Outcome',axis=1)
Y = diabetes_df['Outcome']

In [10]:
X

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
0,6,148,72,35,0,33.6,0.627,50
1,1,85,66,29,0,26.6,0.351,31
2,8,183,64,0,0,23.3,0.672,32
3,1,89,66,23,94,28.1,0.167,21
4,0,137,40,35,168,43.1,2.288,33
...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63
764,2,122,70,27,0,36.8,0.340,27
765,5,121,72,23,112,26.2,0.245,30
766,1,126,60,0,0,30.1,0.349,47
767,1,93,70,31,0,30.4,0.315,23

In [11]:
standard = StandardScaler()
X = standard.fit_transform(X)

In [12]:
X

array([[ 0.63994726,  0.84832379,  0.14964075, ...,  0.20401277,
         0.46849198,  1.4259954 ],
       [-0.84488505, -1.12339636, -0.16054575, ..., -0.68442195,
        -0.36506078, -0.19067191],
       [ 1.23388019,  1.94372388, -0.26394125, ..., -1.10325546,
         0.60439732, -0.10558415],
       ...,
       [ 0.3429808 ,  0.00330087,  0.14964075, ..., -0.73518964,
        -0.68519336, -0.27575966],
       [-0.84488505,  0.1597866 , -0.47073225, ..., -0.24020459,
        -0.37110101,  1.17073215],
       [-0.84488505, -0.8730192 ,  0.04624525, ..., -0.20212881,
        -0.47378505, -0.87137393]])

In [13]:
Y

0      1
1      0
2      1
3      0
4      1
      ..
763    0
764    0
765    0
766    1
767    0
Name: Outcome, Length: 768, dtype: int64

In [14]:
X_train,X_test,Y_train,Y_test = train_test_split(X,Y,test_size=0.2,stratify=Y,random_state=2)

In [15]:
print(X.shape,X_train.shape,X_test.shape)

(768, 8) (614, 8) (154, 8)

In [16]:
model = svm.SVC(kernel='linear')

In [17]:
model.fit(X_train,Y_train)

SVC(kernel='linear')

In [18]:
#Training data accuracy
Y_train_predicted = model.predict(X_train)
train_accuracy = accuracy_score(Y_train_predicted,Y_train)
print('Training data accuracy: ',train_accuracy)

Training data accuracy:  0.7866449511400652

In [19]:
#Test data accuracy
Y_test_predicted = model.predict(X_test)
train_accuracy = accuracy_score(Y_test_predicted,Y_test)
print('Training data accuracy: ',train_accuracy)

Training data accuracy:  0.7727272727272727

In [20]:
model2 = svm.SVC(kernel='poly')

In [21]:
model2.fit(X_train,Y_train)

SVC(kernel='poly')

In [22]:
# Kernel = polynomial
Y_test_predicted = model2.predict(X_test)
train_accuracy = accuracy_score(Y_test_predicted,Y_test)
print('Training data accuracy: ',train_accuracy)

Training data accuracy:  0.7077922077922078

In [23]:
model3 = svm.SVC(kernel='rbf')
model3.fit(X_train,Y_train)
# Kernel = rbf
Y_test_predicted = model3.predict(X_test)
train_accuracy = accuracy_score(Y_test_predicted,Y_test)
print('Training data accuracy: ',train_accuracy)

Training data accuracy:  0.7272727272727273

In [24]:
model4 = svm.SVC(kernel='sigmoid')
model4.fit(X_train,Y_train)
# Kernel = sigmoid
Y_test_predicted = model4.predict(X_test)
train_accuracy = accuracy_score(Y_test_predicted,Y_test)
print('Training data accuracy: ',train_accuracy)

Training data accuracy:  0.7532467532467533

In [25]:
input_data = [5,240,72,19,175,25.8,0.587,51]
input_data = np.asarray(input_data)
input_data.shape

(8,)

In [26]:
input_data = input_data.reshape(1,-1)
input_data.shape

(1, 8)

In [27]:
input_data = standard.transform(input_data)

C:\Users\Kamalesh C\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but StandardScaler was fitted with feature names
  warnings.warn(

In [28]:
prediction = model.predict(input_data)
print(prediction)

[1]